@font-face {
    font-family: 'poppinsregular';
    src: url('../fonts/DM_Sans/poppins-regular-webfont.woff2') format('woff2'),
         url('../fonts/DM_Sans/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DM Sans';
    src: url('../fonts/DM_Sans/dmsans-variablefont_opszwght-webfont.woff2') format('woff2'),
         url('../fonts/DM_Sans/dmsans-variablefont_opszwght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/** Css Reset **/
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }

  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  :root{

    height: 100vh;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    font-size: 16px;
    height: 100%;
    font-family: 'DM Sans';
    background: #FFF;
    font-family: 'Inter';
    -webkit-font-smoothing: antialiased;
    margin: 0 0;
    padding: 0 0;
    border-radius: 1rem;

  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas{
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  button:hover{
    cursor: pointer;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
  ul{
    margin: 0;
  }
  .nav {
    display: flex;
    justify-content: space-between;
    font-family: 'DM Sans';
    align-items: center;
    
    background: #D5CCFF;
    height: 3rem;

    /* TYPOGRAPHY */
    color: #FFF;
    font-family: "DM Sans";
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 0 3rem;
    }
    .navRight {
        display: flex;
        gap: 2rem;
        font-size: 1rem;
    }
    .navRight > button {
        background: #D5CCFF;
        color:#FFF;
        border: none;
    }

    .container{
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 3rem;
        grid-template-rows: 2fr 1fr;
        min-height: 100%;
        background-color: #2B1887;
        padding: 1.38rem 3rem;
    }
    .tasks{
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding: 2% 5%;
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 3;
      border-radius: 1rem;
      background: var(--Blue-Blue-100, #D5CCFF);
    }
    .taskHeader {
      display: flex;
      justify-content: space-between;
    }
    .taskHeader > .title{
      color: var(--Blue-Blue-800, #2B1887);
      font-family: "DM Sans";
      font-size: 2rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    .taskHeader > .addTask > button{
      background: var(--Blue-Blue-100, #D5CCFF);
      color: var(--Blue-Blue-800, #2B1887);
      font-family: "DM Sans";
      font-size: 2rem;
      border: none;
      border-radius: 1rem;

    }
    .lists{
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding: 2% 5%;
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;    
      border-radius: 1rem;
      background: var(--Iris-100, #5D5FEF);
    }
    .listHeader{
    display: flex;
    justify-content: space-between;
    }
    .lists > .listHeader{
      color:#FFF;
      font-family: "DM Sans";
      font-size: 2rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    .listHeader > .addList > button{
      background: var(--Iris-100, #5D5FEF);
      color:#FFF;
      font-family: "DM Sans";
      font-size: 2rem;
      border: none;
      border-radius: 1rem;

    }
    .taskList{
      display: grid;
      grid-template-rows: repeat( auto-fill, 7rem);
      height: 8rem;
      row-gap: 1rem;
      overflow: auto;
      height: auto;
      padding: 1.5rem;
    }
    .task{
      padding: 1.5rem;
      display: grid;
      border-radius: 0.75rem;
      background: #F4F2FF;
      row-gap: 0.5rem;

    }
    .listItems{
      padding: 1.5rem;
      display: grid;
      border-radius: 0.75rem;
      background: #F4F2FF;
      row-gap: 0.5rem;
      overflow: auto;
      height: auto;
    
      color: var(--Light-Mode-Wireframe-Black, #000);
      font-family: "DM Sans";
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    .taskHeader{
      color: var(--Light-Mode-Wireframe-Black, #000);
      font-family: "DM Sans";
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    .subItems{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .subItemsLeft{
      display: flex;
      gap: 0.3rem;
    }
    .subItemsRight{
      color: var(--Blue-Blue-800, #2B1887);
      text-align: right;
      font-family: "DM Sans";
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    .taskForm{
      background: #5D5FEF;
      height: 100%;
      width: 100%;
      display: none;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      position: fixed;
      bottom: auto;
      z-index: 9;
    }
    .formHeader{
      display: flex;
      justify-content: space-between;
    }